body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00293b;
}

header {
  background-color: #003b56;
  color: white;
  padding-bottom: 2em;
  width: 100%;
}

.headerContenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo img {
  height: 130px;
  width: auto;
}

.headerTexto {
  flex-grow: 1;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#banner {
  width: 100%;
}
#banner img {
  width: 100%;
}

#bienvenido {
  margin: 10px;
}

h1 {
  font-size: 65px;
  margin: 0;
}

.texto {
  font-size: 25px;
  margin: 0;
}

section {
  margin: 2em 1em;
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: #ccc;
}

#articulo1 {
  text-align: center;
  background-color: #138496;
  max-width: 100%;
  margin-top: 15px;
}

#articulo {
  text-align: center;
  background-color: #138496;
  max-width: 80%;
  margin-top: 80px;
}

#artTexto {
  text-align: center;
  background-color: #003b56;
  color: #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}

#rutina {
  width: 100%;
}

#rutina img {
  width: 100%;
  margin-right: 15px;
}

.contenedorTarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  margin-top: 50px;
}

.tarjetas {
  background-color: white;
  border-radius: 8px;
  border: 3px solid #ffffff;
  overflow: hidden;
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
}

.tarjetas img {
  width: 100%;
  height: auto;
}

.textoTarj2 {
  padding: 10px;
  font-size: 16px;
  color: #ccc;
  font-weight: bold;
  background-color: #17a2b8;
}

.textoTarj {
  margin-bottom: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: #108192;
  color: #ccc;
}

#rutinas {
  border: 3px solid #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
}

form label {
  margin-top: 1em;
}

form input,
form select,
form button {
  margin-top: 0.5em;
  padding: 0.5em;
  width: 80%;
  max-width: 300px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

form button:hover {
  background-color: #0056b3;
}

#resultadoRutina {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-weight: bold;
  color: #ccc;
  background-color: #003b56;
  border: 5px solid #ccc;
  width: auto;
  max-width: 800px;
}

#contacto {
  border: 3px solid #ccc;
  padding-bottom: 25px;
}
#contacto h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ccc;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  margin-bottom: 5px;
  color: #ccc;
}

.formulario input,
.formulario textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formulario button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.contenidoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoFooter {
  margin-bottom: 1em;
}

.redes img {
  height: 40px;
  margin: 0 10px;
}

footer button {
  background-color: #17a2b8;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 0.5em 1em;
  cursor: pointer;
}

footer button:hover {
  background-color: #138496;
}

#infoIntegrantes {
  color: white;
  padding: 1em;
  margin-top: 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#infoIntegrantes img {
  width: 100px;
  height: auto;
  margin: 10px;
}

@media (max-width: 600px) {
  .headerContenido {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    font-size: 18px;
  }

  #infoIntegrantes {
    max-width: 400px;
  }
  .contenedorTarjetas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .contenedorTarjetas {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  #rutinas {
    width: 500px;
  }

  #contacto {
    width: 500px;
  }
}
